* {
	padding:0;
	margin:0;
	font-family: Arial;
}

nav {
	padding: 10px;
	border-bottom: solid 1px #aaa;
}

.about {
	padding: 10px;
}
.about p {
	padding: 8px 0;
}
.about button {
	font-size: 18px;
	padding: 8px;
}


.todoview {
	padding:10px;
	padding-left: 35px;
	list-style: none;
	background: url('../img/none.png') no-repeat 10px center;
}

.done {
	background: url('../img/done.png') no-repeat 10px center;
}

.statsview {
	background: #eee;
	padding: 10px;
	margin: 0px;
	overflow: hidden;
}

.statsview label {
	line-height: 30px;
}

.statsview a {
	float: right;
	padding: 4px;border: solid #AAA 2px;
	margin-left: 10px;
	cursor: pointer;
}